{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."], //  This says the root of your project folder
        "alias": {
          "@components": "./components",
          "@screens": "./screens",
          "@utils": "./utils",
          "@styles": "./styles",
          "@stores": "./stores",
          "@pages": "./pages"
        }
      }
    ]
  ]
}
